body{
    display:flex;
    flex-direction: column;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.top{
    background-color: #1f2937;
    display:flex;
    flex-direction: column;
    
}

.top, .middle-top, .middle-bottom, .bottom{
    height:500px;
    padding-left: 400px;
    padding-right: 400px;
}

.header{
    padding-top: 12px;
    display:flex;
    justify-content: space-between ;
    padding-bottom: 72px;
}

.logo{
    color:#F9FAF8;
    font-size: 18px;
}

.hero{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: bolder;
}

.top-center{
    display:flex;
    justify-content: space-between;
    
}

.top-right{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    flex:1 1 1;
    
}

.top-left{
    display:flex;
    flex-direction: column;
    width:500px;
}

.list, .subtext{
    color: #e5e7eb;
    font-size: 18px;
}

.subtext{
    display:flex;
    flex-wrap: wrap;
}

.middle-top{
    background-color: white;
    display:flex;
    flex-direction: column;
}

.middle-top-header{
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    display:flex;
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 36px;
}

.cards{
    display:flex;
    flex-direction: row;
    gap:96px;
    justify-content: center;
}

.middle-bottom{
    display:flex;
    background-color: #e5e7eb;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-style:italic;
    color:#1F2937;
}

.bottom{
    background-color: #3882F6;
}

.footer{
    background-color: #1f2937;
}

ul{
    list-style-type: none;
    padding:0;
    margin:0;
    display:flex;
    gap: 16px;
}

img{
    display: flex;
    
    
    min-width: 85%;
}

.top-button{
    margin-top:10px;
    
}

.card img{
    display: flex;

    width:250px;
    height:250px;
    border: 4px solid #3882F6;
    border-radius: 20px;
    margin-bottom: 8px;
}
.card{
    width:250px;
    border:none !important;
    text-align: center;
}

