body{
    display:flex;
    flex-direction: column;
    margin:0;
    font-family: 'Roboto', sans-serif;
}


.top{
    background-color: #1f2937;
    display:flex;
    flex-direction: column;
    flex:1 1 500px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.header{
    padding-top: 12px;
    display:flex;
    justify-content: space-around ;
    padding-bottom: 72px;
    gap:500px
}

.logo{
    color:#F9FAF8;
    font-size: 18px;
    
}

.list, .subtext{
    color: #e5e7eb;
    font-size: 18px;
}



.top-center{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:36px;
}

.top-left{
    display:flex;
    flex-direction: column;
    width:500px;
}

.hero{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: bolder;
}


.list, .subtext{
    color: #e5e7eb;
    font-size: 18px;
}

.subtext{
    display:flex;
    flex-wrap: wrap;
}


.top-button{
    margin-top:10px;
    
}

.top-right{
    display:flex;
    align-items: center;
    justify-content: center;
    
}




.middle-top{
    display:flex;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    flex:1;
    align-items: center;
    padding-bottom: 75px;
}


.middle-top-header{
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    display:flex;
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 36px;
}

.cards{
    display:flex;
    flex-direction: row;
    gap:96px;
    justify-content: center;
    flex-wrap: wrap;
    flex:1;
}


.card img{
    display: flex;

    width:250px;
    height:250px;
    border: 4px solid #3882F6;
    border-radius: 20px;
    margin-bottom: 8px;
}
.card{
    width:250px;
    border:none !important;
    text-align: center;
}

.middle-bottom{
    display:flex;
    flex: 0 0 400px;
    align-items: center;
    justify-content: center;

    font-size: 42px;
    font-style:italic;
    color:#1F2937;
    background-color: #e5e7eb;
}

.quote{
    width:1100px;
    padding:50px;
}


.bottom{
    display:flex;
    align-items: center;
    justify-content: center;
    flex:1 1 500px;
}

.action{
    background-color: #3882F6;
    display:flex;
    align-items: center;
    padding:300px 100px 300px 100px;
}

.footer{
    background-color: #1f2937;
}

ul{
    list-style-type: none;
    padding:0;
    margin:0;
    display:flex;
    gap: 24px;
}

img{
    max-width: 100%;
    
}

a:hover{
    text-decoration: none;
}